@model IEnumerable<Episodio>


<h1>Lista de Episódios da Temporada @ViewData["NumeroTemporada"]</h1>

<table class="table">
    <thead>
        <tr>
            <th class="formatando-coluna-tabela">Nº do Episódio(no Geral)</th>
            <th class="formatando-coluna-tabela">Nº do Episódio(na Temporada)</th>
            <th>Nome</th>
            <th>Quando Lançou</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var ep in Model)
        {
        <tr>
            <td></td>
            <td></td>
            <td>@ep.Nome  </td>
            <td>@ep.QuandoFoiLancado.ToString("dd/MM/yyyy")</td>
            
            
        </tr>
        }
    </tbody>
</table>

