@model IEnumerable<Temporada>

<table class="temporada-capa">

    <tbody>
        <tr>
            @foreach (var temp in Model)
            {
                <th class="temporada-capa">
                    <a asp-action="Episodios" asp-route-numeroTemporada="@temp.Numero"><img src="@temp.CaminhoImagem" /></a>
                </th>
            }
        </tr>

    </tbody>


</table>

 