@model IEnumerable<Temporada>

<table class="temporada-capa">

    <tbody class="alterando-paraflex">
        <tr class="temporada-logo">
            @for (var i = 0; i < 9; i++)
            {
                var elemento = Model.ElementAt(i);
                <th>
                    <a asp-action="Episodios" asp-route-numeroTemporada="@elemento.Numero"><img src="@elemento.CaminhoImagem" /></a>
                </th>
            }

        </tr>
        <tr class="alterando-paraflex alinhando-ao-centro">
            @{var elemento2 = Model.ElementAt(9);
            <th> <a asp-action="Episodios" asp-route-numeroTemporada="@elemento2.Numero"><img src="@elemento2.CaminhoImagem" /></a></th>
                }
        </tr>
    </tbody>


</table>

 