@model CriadoPor


<form asp-controller="GerenciarElencoeProducao" asp-action="Elenco">
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Nome do Artista</label>
        <input type="text" class="form-control" id="formGroupExampleInput" asp-for="NomeReal">
        <span asp-validation-for="NomeReal"></span>
    </div>
  
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Data de Nascimento</label>
        <input type="text" class="form-control" id="formGroupExampleInput" asp-for="DatadeNascimento">
        <span asp-validation-for="DatadeNascimento"></span>
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Nacionalidade</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" asp-for="Nacionalidade">
        <span asp-validation-for="Nacionalidade"></span>

    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Quantidade de Filhos</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" asp-for="QuantidadedeFilhos">
        <span asp-validation-for="QuantidadedeFilhos"></span>
    </div>


    <div>

        <button class="btn btn-primary" type="submit" asp-action="CriadoPor">Adicionar</button>
    </div>
</form>
