@model Elenco

<h1>@Model.Personagem</h1>
<table class="table">
    <thead>
        <tr>
            <th>Nome Completo</th>
            <th>Curiosidades</th>
        </tr>
    </thead>

    <tbody>
         <tr>
             <td>@Model.NomeReal</td>
         </tr>
            
    </tbody>

</table>
             <img src="@Model.CaminhoImagem" class="imagem-dimensoes">