@model Elenco

<h1>@Model.Personagem</h1>
<table class="table">
    <thead>
        <tr>
            <th>Nome Completo</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>@Model.NomeReal</td>
        </tr>

    </tbody>

</table>

<h3 class="titulo-carreira">Resumo do Personagem</h3>
<div class="alterando-paraflex">
    <img src="@Model.CaminhoImagem" class="imagem-dimensoes imagem-infopessoal">
    <p>@Model.ResumoPersonagem</p>
</div>