@model IEnumerable<Elenco>


<section class="container">
    <div class="row justify-content-center">

        <div class="container">
            <div class="row">
                
                    @foreach (var artista in Model)
                    {
                        <div class="card border border-dark col-md-12 p-0 m-2 card-dimensao">
                            <img src="@artista.CaminhoImagem" class="card-img-top imagem-dimensoes">
                            <div class="card-body">
                            <a asp-controller="Elenco" asp-action="FichaCompleta" asp-route-personagem="@artista.Personagem"
                               class="btn btn-primary btn-block btn-sm tamanho-textobotao">@artista.Personagem</a>
                            </div>
                        </div>
                    }
            </div>
        </div>


    </div>
</section>

