@model IEnumerable<Elenco>


@foreach (var elenco in Model)
{
    <h2>@elenco.Personagem</h2>

    <table class="table table-striped">

        <thead>
            <tr>
                <th>Descrição</th>
                <th>Operações</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var curios in elenco.Curiosidades)
            {
                <tr>

                    <td>@curios.Descricao</td>
                    <td>
                        <button class="btn btn-secondary" asp-action="EditarEpisodio">Editar</button>
                        <button class="btn btn-danger" asp-action="Excluir">Excluir</button>
                    </td>

                </tr>
            }

        </tbody>
    </table>
            <a class="btn btn-primary m-3" asp-action="Curiosidade">Adicionar Nova Curiosidade sobre @elenco.Personagem</a>
}
