@model IEnumerable<Temporada>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Temporada</th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var temp in Model)
        {
            <tr>
                <td>@temp.Numero</td> 
                <td>
                    <a asp-controller="GerenciarEpisodio" asp-action="IndexForm" asp-route-Numero="@temp.Numero" class="btn btn-secondary">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

