@model IEnumerable<Destaque>

@{
    ViewData["Title"] = "Home Page";
}


<section id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
   
    <div class="carousel-inner">

        @for (int idx = 0; idx < Model.Count(); idx = idx + 1)
        {
            var imagem = Model.ElementAt(idx);
            if (idx == 0)
            {
                <div class="carousel-item active">
                    <img src="@imagem.CaminhoImagem" class="d-block w-100" data-interval="500" alt="...">
                </div> 
            }
            else
            {
                <div class="carousel-item">
                    <img src="@imagem.CaminhoImagem" class="d-block w-100" data-interval="500" alt="...">
                </div>
            }
        }


        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Proximo</span>
        </a>
    </div>
</section>



@*<div class="text-center">

    <img class="imagem-fundo" src="~/imagens/friendsfundo.jpg">
    
</div>*@
