@model Elenco


<form asp-controller="GerenciarElenco" asp-action="EditarElenco">
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Personagem</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" asp-for="Personagem">
        <span asp-validation-for="Personagem"></span>
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Nome do Artista</label>
        <input type="text" class="form-control" id="formGroupExampleInput" asp-for="NomeReal">
        <span asp-validation-for="NomeReal"></span>
    </div>


    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Data de Nascimento</label>
        <input type="text" class="form-control" id="formGroupExampleInput" asp-for="DatadeNascimento">
        <span asp-validation-for="DatadeNascimento"></span>
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Nacionalidade</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" asp-for="Nacionalidade">
        <span asp-validation-for="Nacionalidade"></span>

    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Estado Civil</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" asp-for="EstadoCivil">
        <span asp-validation-for="EstadoCivil"></span>
    </div>

    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Quantidade de Filhos</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" asp-for="QuantidadedeFilhos">
        <span asp-validation-for="QuantidadedeFilhos"></span>
    </div>


    <div>

        <a class="btn btn-primary" asp-controller="GerenciarElenco" asp-action="EditarElenco">Adicionar</a>
    </div>
</form>