

<form>
    <div>
        <input />
        <label>Nome Completo</label>
    </div>
    <div>
        <input />
        <label>E-mail</label>
    </div>
    <div>
        <input />
        <label>Senha</label>
    </div>
    <div>
        <input />
        <label>Confirme sua Senha</label>
    </div>
    <button>Cadastrar</button>


</form>